.loading-notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 330px;
}
@media (min-height: 900px) {
    .loading-notification {
        margin-top: 445px;
    }
}

.preloader {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    border: 10px solid #eee;
    animation-iteration-count: infinite;
    border-top: 10px solid rgb(0, 208, 255);
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}