/* CARDS STYLES */
.card {
    width: 335px;
    height: 234px;
    display: grid;
    margin-top: 20px;
    border-radius: 4px;
    border: 2px solid #000;
    grid-template-columns: 290px 45px;
    grid-template-rows: 150px 80px;
}

.img {
    width: 335px;
    border: none;
    max-height: 150px;
    border-radius: 4px;
}

.petname {
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.info {
    width: 300px;
    height: 25px;
    font-size: 14px;
    margin-top: 50px;
    padding-left: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.button {
    width: 300px;
    height: 50px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
    border-radius: 4px;
    text-align: center;
    background-color: #FF9DF5;
}

.edit {
    grid-row-end: 3;
    cursor: pointer;
    color: #3E91DD;
    margin-top: 35px;
    grid-row-start: 2;
    margin-right: 20px;
    text-decoration: underline;
}

/* NOTE STYLES */
.note {
    top: 200px;
    height: 603px;
    padding: 10px;
    position: fixed;
    border-radius: 10px;
    background-color: #8AF1FF;
}

/* EDIT MASCOT STYLE */
.container {
    margin-bottom: 40px;
}
.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.green-button {
    width: 300px;
    height: 50px;
    border: none;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-content: center;
    background-color: #97EA9F;
}
.despublicar {
    cursor: pointer;
    text-decoration: underline rgb(41, 41, 41);
}

/* BOTON DE CIERRE */
.close-button {
    width: 30px;
    height: 30px;
    padding: 20px;
    cursor: pointer;
    margin-left: 77%;
}

/* CARDS STYLES */
.img {
    width: 335px;
    border: none;
    max-height: 150px;
    border-radius: 4px;
}

.petname {
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.info {
    height: 25px;
    margin-top: 50px;
    padding-left: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 55px;
}

.button {
    width: 300px;
    height: 50px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
    border-radius: 4px;
    text-align: center;
    background-color: #FF9DF5;
}

.link {
    grid-row-end: 3;
    cursor: pointer;
    color: #3E91DD;
    margin-top: 35px;
    grid-row-start: 2;
    margin-right: 20px;
    text-decoration: underline;
}

/* NOTE STYLES */
.note {
    padding: 10px;
    height: 603px;
    position: absolute;
    border: rgb(21, 21, 21) 1px;
    border-radius: 4px;
    background: #fefefe;
}
/* BOTON DE CIERRE */
.close-button {
    width: 30px;
    height: 30px;
    padding: 20px;
    cursor: pointer;
    margin-left: 77%;
}
/* EL TITULO DE LA NOTE */
.note-title {
    text-align: center;
}
/* EL FORMULARIO */
.form {
    display: flex;
    margin-left: 10px; 
    flex-direction: column;
}

.label {
    align-self: center;
}
.message {
    max-width: 308px;
    max-height: 117px;
    border-radius: 4px;
    padding-left: 10px;;
    border: 1px solid rgb(9, 9, 9);
}

.green-button {
    width: 300px;
    height: 50px;
    border: none;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-content: center;
    background-color: #97EA9F;
}
