.pre-container {
    display: flex;
    flex-direction: column;
}

.title {
    align-self: center;
}

.container {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    flex-direction: column;
}

.container-dos {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    flex-direction: column;
}

@media(min-width: 600px) {
    .container {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    }
}